packages:
    python:
        supervisor: []

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_rq.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            $rqconf = "[program:rqworker]
            ; Point the command to the specific rq command you want to run.
            ; If you use virtualenv, be sure to point it to
            ; /path/to/virtualenv/bin/rq
            ; Also, you probably want to include a settings module to configure this
            ; worker.  For more info on that, see http://python-rq.org/docs/workers/
            command=/var/app/venv/staging-LQM1lest/bin/rq worker -c app/config
            ; process_num is required if you specify >1 numprocs
            process_name=%(program_name)s-%(process_num)s

            ; If you want to run more than one worker instance, increase this
            numprocs=1

            ; This is the directory from which RQ is ran. Be sure to point this to the
            ; directory where your source code is importable from
            directory=/var/app/current

            ; RQ requires the TERM signal to perform a warm shutdown. If RQ does not die
            ; within 10 seconds, supervisor will forcefully kill it
            stopsignal=TERM

            ; These are up to you
            autostart=true
            autorestart=true"

            echo "$rqconf" | tee /opt/python/etc/rq.conf

            # Add configuration script to supervisord conf (if not there already)
            if ! grep -Fxq "[include]" /opt/python/etc/supervisord.conf
                then
                echo "[include]" | tee -a /opt/python/etc/supervisord.conf
                echo "files: celery.conf" | tee -a /opt/python/etc/supervisord.conf
            fi

            # Reread the supervisord config
            supervisorctl -c /opt/python/etc/supervisord.conf reread

            # Update supervisord in cache without restarting all services
            supervisorctl -c /opt/python/etc/supervisord.conf update

            # Start/Restart celeryd through supervisord
            supervisorctl -c /opt/python/etc/supervisord.conf restart rqworker
