files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            RDS_USERNAME=iceapp
            RDS_PASSWORD=YqJh1os3oMiu8fZ53p0N
            RDS_HOSTNAME=iceranking-qa.c8fmxoomvwpn.eu-central-1.rds.amazonaws.com
            RDS_DB_NAME=iceranking
            REDIS_URL=redis://iceranking.1ulmmw.ng.0001.euc1.cache.amazonaws.com:6379

            * * * * * root cd /var/app/current && /var/app/venv/staging-LQM1lest/bin/flask lookup-horse >>/var/log/wf-lookup.log 2>&1

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak"